*, body, html{
  box-sizing: border-box;
  font-family:'Montserrat', Arial, Helvetica, sans-serif
}

body{
  margin: 0;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

a, button {
  outline: 0;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: var(--blue-color);
}

button{
  border: none;
  box-shadow: none;
}

p {
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

// Forms
form {
  width: 100%;
}

fieldset {
  margin-top: 1rem;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}